<h1 class="mt-4">Categorias</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mb-4">
            <button class="btn btn-warning" (click)="novoCadatro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td>{{categoria.id}}</td>
                        <td>{{categoria.nome}}</td>
                        <td>{{categoria.dataCriacao}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/categorias/form/{{categoria.id}}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger ml-1" (click)="preparaDelecao(categoria)"
                                    data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>

    <!--Modal de deleção-->
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="categoriaSelecionada">
                    Confirma a deleção da categoria <b>{{categoriaSelecionada.nome}}</b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>

</div>
