<h1 class="mt-4">Departamentos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 mb-4">
            <button class="btn btn-warning" (click)="novoCadatro()">
                <i class="fa fa-plus"></i> Cadastrar novo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p-table [value]="departamentos">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-departamento>
                    <tr>
                        <td>{{departamento.id}}</td>
                        <td>{{departamento.nome}}</td>
                        <td>{{departamento.telefone}}</td>
                        <td>{{departamento.dataCriacao | date:"dd/MM/yyyy"}}</td>
                        <td>
                            <button pButton type="button"  icon="fa fa-edit" routerLink="/departamentos/form/{{departamento.id}}"
                                    pTooltip="Abrir edição completa" tooltipPosition="bottom" class="ml-1 mr-1">
                            </button>

                            <button pButton type="button" (click)="preparaDelecao(departamento)" icon="fa fa-trash"
                                    class="ui-button-danger" pTooltip="Deletar departamento" tooltipPosition="bottom"
                                    data-toggle="modal" data-target="#modalDelecao">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <!--Modal de deleção-->
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="departamentoSelecionado">
                    Confirma a deleção do departamento <b>{{departamentoSelecionado.nome}}</b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarDepartamento()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>

</div>

